<div class="card horizontal">
    <div class="card-image">
        <img src="{{ bwit.author.profile_picture }}" style="width:150px; height:150px;">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <a style="color: black;" href="{{ url_for('user', nickname=bwit.author.nickname) }}"><b>{{ bwit.author.nickname }}</b></a> says:<br>
            {{ bwit.body }}
        </div>
        {% if bwit.author.id == g.user.id %}
        <div class="card-action">
            <a style="color: black;" href="{{ url_for('delete_bwit', id=bwit.id) }}">Delete Bwit</a>
        </div>
        {% endif %}
    </div>
</div>