{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col s5">
        <h4 class="header indigo-text">Users</h4>
        {% for user in users %}
            <div class="card horizontal">
                <div class="card-image">
                    <img href={{ url_for('user', nickname=user.nickname) }}" src="{{ user.profile_picture }}" style="width:150px; height:150px;">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <a href="{{ url_for('user', nickname=user.nickname) }}" style="font-size: 16pt;" class="indigo-text"><b>{{ user.nickname }}</b></a>
                        {% if user.about_me %}
                            <p>{{ user.about_me }}</p>
                        {% endif %}

                        {% if user.last_seen %}
                            <p><em>Last seen on: {{ momentjs(user.last_seen).calendar() }}</em></p>
                        {% endif %}
                        <p>{{ user.followers.count() }} followers</p>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}